.navbar {
    width: 100%;
    position: relative; 
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-bar {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px 50px 5px 50px;
    height: 150px;
}

.Logo {
    max-width: 300px; /* Adjust the maximum width to fit your design */
    height: auto;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(95, 12, 12, 0.968);
    padding: 10px 50px 10px 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin: 5px 30px 10px 10px;
    font-size: 18px;
    cursor: pointer;
}

ul li a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit the color from the parent element */
    display: flex;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border: 2px solid grey;
    border-radius: 15px;
    width: 55%;
    margin-left: 20px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    max-width: 1000px; 
    width: 100%;
}

.search-box:focus-within {
    border-color: black;
}

.search-box .MuiSvgIcon-root {
    margin-left: 10px; /* Add some space between input and icon */
    color: grey;
}

.cart ul {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.cart ul li {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.cart ul li svg {
    margin-right: 5px;
}

.bottom-bar ul {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.bottom-bar ul li {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.bottom-bar ul li svg {
    margin-right: 5px;
}


@media only screen and (max-width: 900px) {
    .navbar .top-bar .search-box{
      display: none;
    }
    .navbar .bottom-bar ul {
      display: none;
    }
  }